{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
        Select Stock to Sell: <select autofocus class="form-control" name="symbol">
            <option value="" selected disabled>Choose One</option>
            {% for stock in stocks %}
                 <option value='{{stock["stockname"]}}'>{{stock["stockname"]}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            Enter Number of Shares: <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="e.g. 3" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell Now</button>
    </form>
{% endblock %}
